################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelManagementApp/.vs
/HotelManagementApp/bin/Debug/net8.0-windows
/HotelManagementApp/obj
